**/.DS_Store
.idea/
.vs/
.vscode/
build/
cmake-build-*/
prefix/
CMakeLists.txt.user
compile_commands.json
compile_flags.txt
activate.fish
*.so*
r-type
r-type_test
**/*.profraw
coverage.profdata
coverage.info
coverage_html/
.clangd

# Documentation files
docs/html/
docs/xml/
docs/Doxyfile

rtype.log
vcpkg
.cache
*.a

docs/html
docs/xml
docs/Doxyfile
triplets
activate.sh
include/Vector2D.hpp
test.cpp
a.out
aliases.fish
Testing

*.log
gmon.out

# Windows build artifacts
*.dll
*.exp
*.pdb
*.lib
parser
r-type_client
r-type_server
