**/.DS_Store
.idea/
.vs/
.vscode/
build/
cmake-build-*/
prefix/
CMakeLists.txt.user
compile_commands.json
compile_flags.txt
activate.fish
*.so*
r-type
r-type_test
**/*.profraw
coverage.profdata
coverage.info
coverage_html/
.clangd
