name: CI - Development Branch

on:
  push:
    branches:
    - main

  pull_request:
    branches:
    - main

jobs:
  lint:
    runs-on: ubuntu-24.04

    steps:
    - uses: actions/checkout@v4

    - name: Lint with clang-format
      run: cmake -D FORMAT_COMMAND=clang-format-18 -P cmake/lint.cmake

  build-and-test:
    needs: [lint]
    runs-on: ubuntu-24.04

    steps:
    - uses: actions/checkout@v4

    - name: Install Clang 18 with C++23 support
      run: |
        sudo apt-get update -q
        sudo apt-get install -y -q clang-18 libc++-18-dev libc++abi-18-dev libconfig++-dev
        sudo update-alternatives --install /usr/bin/clang clang /usr/bin/clang-18 100
        sudo update-alternatives --install /usr/bin/clang++ clang++ /usr/bin/clang++-18 100

    - name: Verify C++ compiler version
      run: clang++ --version

    - name: Configure
      run: CC=clang-18 CXX=clang++-18 cmake --preset=dev

    - name: Build
      run: cmake --build build -j 2

    - name: Test
      working-directory: build
      run: ctest --output-on-failure --no-tests=error -j 2

  coverage:
    needs: [lint]
    runs-on: ubuntu-24.04

    steps:
    - uses: actions/checkout@v4

    - name: Install Clang 18 with C++23 support
      run: |
        sudo apt-get update -q
        sudo apt-get install -y -q clang-18 libc++-18-dev libc++abi-18-dev lcov libconfig++-dev
        sudo update-alternatives --install /usr/bin/clang clang /usr/bin/clang-18 100
        sudo update-alternatives --install /usr/bin/clang++ clang++ /usr/bin/clang++-18 100

    - name: Verify C++ compiler version
      run: clang++ --version

    - name: Configure
      run: CC=clang-18 CXX=clang++-18 cmake --preset=dev

    - name: Build
      run: cmake --build build -j 2

    - name: Test
      working-directory: build
      run: ctest --output-on-failure --no-tests=error -j 2

    - name: Generate coverage report
      run: cmake --build build --target coverage

    - name: Upload coverage to codecov
      uses: codecov/codecov-action@v4
      with:
        file: build/coverage.info
        token: ${{ secrets.CODECOV_TOKEN }}
      continue-on-error: true

