name: CI - Development

on:
  push:
    branches:
    - dev

  pull_request:
    branches:
    - dev

jobs:
  ci:
    uses: ./.github/workflows/reusable-ci.yml
    secrets:
      BOT_TOKEN: ${{ secrets.BOT_TOKEN }}
    with:
      auto-format: true
      run-windows: true
