name: CI - Development Branch

on:
  push:
    branches:
    - main

  pull_request:
    branches:
    - main

jobs:
  lint:
    runs-on: ubuntu-24.04

    steps:
    - uses: actions/checkout@v4

    - name: Lint with clang-format
      run: cmake -D FORMAT_COMMAND=clang-format-18 -P cmake/lint.cmake

  build-and-test:
    needs: [lint]
    runs-on: ubuntu-24.04

    steps:
    - uses: actions/checkout@v4

    - name: Install dependencies
      run: sudo apt-get update -q && sudo apt-get install -y -q libconfig++-dev

    - name: Configure
      run: cmake --preset=dev

    - name: Build
      run: cmake --build build -j 2

    - name: Test
      working-directory: build
      run: ctest --output-on-failure --no-tests=error -j 2

  coverage:
    needs: [lint]
    runs-on: ubuntu-24.04

    steps:
    - uses: actions/checkout@v4

    - name: Install dependencies
      run: sudo apt-get update -q && sudo apt-get install -y -q lcov libconfig++-dev

    - name: Configure
      run: cmake --preset=dev

    - name: Build
      run: cmake --build build -j 2

    - name: Test
      working-directory: build
      run: ctest --output-on-failure --no-tests=error -j 2

    - name: Generate coverage report
      run: cmake --build build --target coverage

    - name: Upload coverage to codecov
      uses: codecov/codecov-action@v4
      with:
        file: build/coverage.info
        token: ${{ secrets.CODECOV_TOKEN }}
      continue-on-error: true

